.quarto

/.quarto/

*.pdf
*.log
*.tuc

docs
_book
_site
_solutions
references.bib.sav
references.bib.bak

.ipynb_checkpoints/
.jupyter_cache
.cache
.obsidian

_freeze-old/
julia-examples/

rebase.rb

/.luarc.json

_extensions/quarto-metapost/
stochastic-control.code-workspace

solutions/

Untitled.ipynb

**test**


**/*.quarto_ipynb
