{{ partial "header.html" . }}

{{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}

{{ .Content }}

{{ range where $.Site.Sections "Section" "stochastic" }}
   <h2>Static Stochastic Optimization</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}


{{ range where $.Site.Sections "Section" "mdp" }}
   <h2>Finite horizon Markov Decision Processes (MDP)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "optimal-stopping" }}
   <h2>Optimal Stopping</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "inf-mdp" }}
   <h2>Infinite horizon Markov Decision Processes (MDP)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "pomdp" }}
   <h2>Partially Observed Markov Decision Processes (POMDP)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "linear-systems" }}
   <h2>Linear Systems</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "risk-sensitive" }}
   <h2>Risk Sensitive Markov Decision Processes</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "adaptive-control" }}
   <h2>Adaptive control</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "appendix" }}
   <h2>Appendix</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}
{{ partial "footer.html" . }}
