{{ partial "header.html" . }}

{{ .Content }}

<h1> 1. Optimal planning </h1>

{{ range where $.Site.Sections "Section" "stochastic" }}
   <h2>1.1. Static Stochastic Optimization</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}


{{ range where $.Site.Sections "Section" "mdp" }}
   <h2>1.2. Finite horizon Markov Decision Processes (MDP)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "optimal-stopping" }}
   <h2>1.3. Optimal Stopping</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "inf-mdp" }}
   <h2>1.4. Infinite horizon Markov Decision Processes (MDP)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "pomdp" }}
   <h2>1.5. Partially Observed Markov Decision Processes (POMDP)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "risk-sensitive" }}
   <h2>1.6. Risk Sensitive Markov Decision Processes</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}


{{ range where $.Site.Sections "Section" "linear-systems" }}
   <h2>1.7 Linear Systems</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

<h1> 2. Adaptive control and learning </h1>

{{ range where $.Site.Sections "Section" "bandits" }}
   <h2>2.1 Multi-armed bandits</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "adaptive-control" }}
   <h2>2.2. Adaptive control</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}

{{ range where $.Site.Sections "Section" "rl" }}
   <h2>2.3 Reinforcement Learning (RL)</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}


{{ range where $.Site.Sections "Section" "appendix" }}
   <h2>Appendix</h2>
   {{ partial "taxonomy-list" . }}
{{ end }}
{{ partial "footer.html" . }}
