html {
    min-height: 100%; /* eliminates content-shift */
    margin-bottom: 1px; /* eliminates content-shift */
    }

body {
    font-size: 100%; /* for IE */
    font-family: Palatino, 'Palatino Linotype', 'URW Palladio', serif;
    color: #333;
    background-color: #666;
    padding: 0em 2em 2em 2em;
    margin: 10px auto;
    max-width: 62em;
    }

pre {
    font-size: 110%;
    font-family: 'Dejavu Sans Mono', monospace;
}

#content {
    background-color: #fffff8;
    color: #111;
    padding: 1em;
}

@media print{
    body {
      font-size: 10pt;
      max-width: 70em;
      background-color: white;
    }
}

.title {
  text-align: center;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  display: block;
}

.h1-title {
    padding-top: 1ex ;
    font-size: 200%;
    font-weight: 600;
    line-height: 1.25 ; 
    text-align: center;
}

.header-section-number:after {
    content: ".";
    padding-right: 0.5ex ;
}

h1 {
    font-size: 150%;
    font-weight: 600;
    line-height: 1.25;
    margin-top:1em;
    margin-bottom:.5em
}
h2 {
    font-size: 120%;
    font-style: italic;
    font-weight: 400;
    line-height: 1.25;
    margin-top:1em;
    margin-bottom:.5em
}
h3 {
    font-size: 110%;
    font-style: italic;
    font-weight: 400;
    margin-top:1em;
    margin-bottom:.5em
}

h4 {
    font-size: 100%;
    font-style: italic;
    font-weight: 400;
    display: inline;
}

h4:after {
    content: ".";
    padding-right: 0.5ex ;
}

h4 + p {
    display: inline;
}


hr {
    color: black;
    background-color: black;
    border: none;
    height: 1px;
    width: 80%;
}

em em { 
    font-style: normal;
}

p {
    line-height: 1.5em; /* 24px */
    font-size: 1em; /* 16px */
    text-align: left;
    vertical-align: baseline;
    -moz-hyphens: auto
    hyphens: auto
    }

ul li {
    margin: 1ex 0ex;
}

h2 + ul {
    margin-top: -2ex;
}

dd p + ul {
    margin-top: -2ex;
}

dd ul p + ul {
    margin-top: 0ex;
}

dd ul {
  padding: 0ex 0ex 0ex 2ex;
  margin:  0ex 0ex 3ex 0ex;
}

ul:first-of-type + ul {
  margin:  -2ex 0ex 3ex 0ex;
}

dd ul li {
  margin: 0ex 0ex 1ex 0ex;
}

dd ul li p { 
  margin: 0;
  
}

dt {
    float: left;
    clear: left;
    width: 7em;
    padding: 0 0 0 0.5em;
    text-align: right;
    font-weight: bold;

}

dd {
    margin: 0 0 0 7.5em;
    padding: 0 0.5em;
    border-left: 1px solid #888;
}

del {
    color: red;
}

ins {
    color: darkgreen;
}

/* Links: replicate underline that clears descenders */
a:link, a:visited { color: inherit; }

a {
    font-weight: normal;
    text-decoration: none;
    }

a[href] {
  text-decoration: underline;
  font-weight : normal;
  }

a[href]:hover {
    color: inherit;    
    background: inherit;
}

a[href]:active {
    background: transparent;
    text-decoration: none;
}

table {
  border: solid 1px;
}


thead { 
    background-color: lightgray; 
}

th {
    padding: 2ex 1ex 1ex 2ex;
}

.highlight, .proclaim {
    display: block;
    padding: 0;
    border: 1px solid #888;
    background-color: #CCC;
}

.proclaim {
  padding-left: 7.5em;
  text-indent: -6.5em;
}


.highlight dd {
    border-left: 0px;
}

.smallcaps {
    font-variant: small-caps;
}

.categories {
    margin-top: 4em;
    padding: 0.5ex;
    border-top: 1px solid black;
    font-size: 80%;
    text-align: right;
}

.flex {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   align-content: center;
}

figcaption {
  font-size: 80%;
  text-align: center;
}

figure {
  display: block;
  text-align: center;
}

/* Always show spinner in text area in Chrome */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
