<p class="categories">
This entry was 
{{- if not .Lastmod.IsZero -}}
last updated on {{ .Lastmod.Format "02 Jan 2006" }} and
{{- end -}}
{{- if .Params.categories -}}
posted in {{ with .Params.categories }} 
{{- range $index, $value := . -}}{{ if ne $index 0 }},{{ end }}
<a href="{{ "categories" | absURL }}/{{ $value | urlize | lower }}">
  {{$value  | title}}</a>
{{- end -}}
{{- end -}} 
and tagged 
{{- with .Params.tags -}} 
{{- range $index, $value := . -}}{{ if ne $index 0 }},{{ end }}
<a href="{{ "tags" | absURL }}/{{ $value | urlize | lower }}">
  {{- $value  | lower -}}
</a>
{{- end -}}.
{{- end -}} 
{{- end -}}
</p>

